---
export const prerender = true;
import BaseLayout from "@y/BaseLayout.astro";
import Prose from "@components/common/Prose.astro";
import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout pageTitle={entry.data.title}>
  <div class="relative">
    <!-- Hero Section -->
    <div
      class="relative h-[70vh] bg-cover bg-center"
      style=`background-image: url(${entry.data.heroImage.src});`
    >
      <div
        class="absolute inset-0 bg-black bg-opacity-40 flex flex-col justify-center items-center text-center p-4"
      >
        <h1 class="text-white text-4xl md:text-6xl font-bold mb-2">
          {entry.data.title}
        </h1>
        <p class="text-white text-lg md:text-xl">{entry.data.description}</p>
        <p class="text-white text-lg md:text-xl">
          Posted on {new Date(entry.data.pubDate).toDateString()}
        </p>
      </div>
    </div>

    <!-- Content Section -->
    <div class="relative -mt-12 md:-mt-16 z-10">
      <div class="bg-white shadow-lg rounded-lg p-6 md:p-10">
        <p class="text-lg md:text-xl leading-relaxed">
          <Prose>
            <Content />
          </Prose>
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
