---
import "./Hero.css";
---

<div class="about-card">
  <div class="about-card__description">
    <h2 class="about-card__title">About Me</h2>
    <p class="about-card__text">
      I'm a dedicated psychology student passionate about understanding the
      human mind and helping others. Exploring the depths of cognitive processes
      and human behavior is my calling.
    </p>
  </div>
  <div class="about-card__image">
    <img src="profile.jpg" alt="Profile Picture" />
    <div class="about-card__socials">
      <a
        href="#"
        class="about-card__social-icon about-card__social-icon--instagram"></a>
      <a
        href="#"
        class="about-card__social-icon about-card__social-icon--linkedin"></a>
      <a
        href="#"
        class="about-card__social-icon about-card__social-icon--facebook"></a>
    </div>
  </div>
</div>
