---
import instagramIcon from "/public/icons/instagram-icon.svg";
import linkedinIcon from "/public/icons/linkedin-icon.svg";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav class="navbar">
    <div class="navbar__title">Jung And Restless</div>
    <div class="navbar__spacer"></div>
    <div class="navbar__social-icons">
      <a href="https://www.instagram.com" target="_blank">
        <img src={instagramIcon.src} alt="Instagram" />
      </a>
      <a href="https://www.linkedin.com" target="_blank"
        ><img src={linkedinIcon.src} alt="LinkedIn" /></a
      >
    </div>
    <a href="#about-us" class="nav__link">About Me</a>
    <a href="#blog" class="nav__link">Blog</a>
    <ThemeIcon />
    <div class="hamburger-menu" id="hamburger-menu">&#9776;</div>
  </nav>
  <div class="mobile-menu" id="mobile-menu">
    <a href="#about-us" class="mobile__link">About Me</a>
    <a href="#blog" class="mobile__link">Blog</a>
    <div class="mobile__social-icons">
      <a href="https://www.instagram.com" target="_blank">
        <img src={instagramIcon.src} alt="Instagram" />
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <img src={linkedinIcon.src} alt="LinkedIn" />
      </a>
    </div>
  </div>
</header>

<style>
  .navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family: "Inknut Antiqua";
  }

  .navbar__title {
    font-size: 2rem;
    font-weight: bold;
    margin-right: auto;
  }

  .navbar__spacer {
    flex-grow: 1;
  }

  .navbar__social-icons a {
    margin: 0 5px;
    text-decoration: none;
    font-size: 20px;
    /* display: flex; */
    /* align-items: center; */
  }

  .navbar__social-icons img {
    height: 20px;
    /* display: block; */
  }

  .nav__link {
    margin: 0 5px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
  }
  .hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 24px;
  }

  .mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background: #fff;
    position: absolute;
    top: 60px;
    width: 100%;
    padding: 10px;
  }

  .mobile__link,
  .mobile__social-icons {
    margin: 10px 0;
  }

  .mobile__social-icons img {
    height: 20px;
  }

  @media (max-width: 768px) {
    .nav__link,
    .navbar__social-icons,
    .ThemeIcon {
      display: none;
    }
    .hamburger-menu {
      display: block;
    }
    .mobile-menu {
      display: flex;
    }
  }
</style>

<script></script>
