---
import instagramIcon from "/public/icons/instagram-icon.svg";
import linkedinIcon from "/public/icons/linkedin-icon.svg";
import profile from "../../config/profile.json";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav class="navbar">
    <div class="navbar__title">Jung And Restless</div>
    <div class="navbar__spacer"></div>
    <div class="navbar__social-icons">
      <a href="https://www.instagram.com" target="_blank">
        <img src={instagramIcon.src} alt="Instagram" />
      </a>
      <a href="https://www.linkedin.com" target="_blank"
        ><img src={linkedinIcon.src} alt="LinkedIn" /></a
      >
    </div>
    <a href="#about-us" class="nav__link">About Me</a>
    <a href="#blog" class="nav__link">Blog</a>
    <ThemeIcon />
  </nav>
</header>

<style>
  .navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family: "Inknut Antiqua";
  }

  .navbar__title {
    font-size: 2rem;
    font-weight: bold;
    margin-right: auto;
  }

  .navbar__spacer {
    flex-grow: 1;
  }

  .navbar__social-icons a {
    margin: 0 5px;
    text-decoration: none;
    font-size: 20px;
    /* display: flex; */
    /* align-items: center; */
  }

  .navbar__social-icons img {
    height: 20px;
    /* display: block; */
  }

  .nav__link {
    margin: 0 5px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
  }
</style>
